<!-- https://docs.nativescript.org/angular/core-concepts/angular-navigation.html#page-router-outlet -->
<!--<page-router-outlet></page-router-outlet>-->


<!--<StackLayout class="page">
    <SVGImage src="res://nativescript.svg" height="100" width="100"></SVGImage>
</StackLayout>-->

<!--<StackLayout class="page">
    <SVGImage src="~/images/nativescript.svg" height="100" width="100"></SVGImage>
</StackLayout>-->

<StackLayout class="page">
    <SVGImage src="~/assets/images/nativescript.svg" height="100" width="100"></SVGImage>
</StackLayout>
